<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>快来测测你患高血压的概率吧</title>
    <link rel="stylesheet" type="text/css" href="/zui/css/zui.min.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/zui/js/zui.min.js"></script>
    <style>
        .question-list {
            font-size: 16px;
            color: #000000;
        }
        .radio-primary {
            font-size: 15px;
        }
        body{
            font-family: "Microsoft YaHei";
        }
    </style>
    <script type="text/javascript">


        function submit() {
            var age = $("#age").val().trim();
            var ival = parseInt(age);//如果变量val是字符类型的数则转换为int类型 如果不是则ival为NaN
            if(isNaN(ival)){
                new $.zui.Messager('请输入正确年龄格式!', {
                    icon: 'bell',// 定义消息图标
                    type: 'info' //定义消息颜色
                }).show();
                return;
            } else{
                if(ival<0||ival>120){
                    new $.zui.Messager('请输入正确年龄段!', {
                        icon: 'bell', // 定义消息图标
                        type: 'info' //定义消息颜色
                    }).show();
                    return;
                }
            }

            var sex = $("input[name='sex']:checked").val();
            console.log("sex:"+sex);
            var parents = $("input[name='parents']:checked").val();
            var grandparents = $("input[name='grandparents']:checked").val();
            var brothers = $("input[name='brothers']:checked").val();
            var data = {
                "sex":sex,
                "age":ival,
                "parents":parents,
                "grandparents":grandparents,
                "brothers":brothers
            };
            console.log(parents+","+grandparents+","+brothers);
            $.ajax({
                type: "post",
                url: "/test/add",
                data: JSON.stringify(data),
                dataType: "json",
                contentType : "application/json",
                success: function(data){
                    console.log(data.times+","+data.rate);
                    window.location.href="/test/result?"+"times="+data.times+"&rate="+data.rate;
                },
                error:function(data){
                    alert("提交失败，系统异常");
                    document.location.reload();
                }
            });
        }

    </script>
</head>
<body>
<!--<div style="height:140px;background: linear-gradient(to bottom,#03a2b6,#03e8cf);margin-bottom: 18px">-->
<!--    <div style="text-align: center;padding: 65px 0;color: #ffffff;font-size: 28px;font-weight: bolder;font-family: 'Microsoft YaHei'">高血压概率测试</div>-->
<!--</div>-->
<img src="/img/4.png" style="width: 100%;border-radius: 5px;margin: 16px 0">
<div class="col-xs-1">

</div>
<div class="container-fluid col-xs-10">

    <div class="alert alert-info with-icon" style="padding: 8px;font-size: 14px">
        <i class="icon-info-sign"></i>
        <div class="content" style="padding-left: 2px;line-height: 1.5">
            <p>遗传是高血压发病的一个重要原因。</p>
            <p>想知道亲人患高血压对自己影响有</p>
            <p>多大吗？</p>
            <p>下面就来测测吧。</p>
        </div>
    </div>


    <div class="question-list">
        <div class="panel panel-info">
            <div class="panel-heading">
                <label style="font-weight: bolder">1.您的性别？</label>
            </div>
            <div class="panel-body">
                <div class="radio-primary">
                    <input type="radio" name="sex" id="sex1" value="man" checked="checked">
                    <label for="sex1">男&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
                </div>
                <div class="radio-primary">
                    <input type="radio" name="sex" id="sex2" value="woman">
                    <label for="sex2" >女&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <label style="font-weight: bolder">2.您的年龄？</label>
            </div>
            <div class="panel-body">
                <div class="input-control  has-label-right">
                    <input id="age" type="text" class="form-control" placeholder="">
                    <label for="age" class="input-control-label-right text-right ">岁</label>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <label style="font-weight: bolder">3.您的父母是否被确诊高血压？</label>
            </div>
            <div class="panel-body">
                <div class="radio-primary">
                    <input type="radio" name="parents" id="parents1" value="none" checked="checked">
                    <label for="parents1">无&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
                </div>
                <div class="radio-primary">
                    <input type="radio" name="parents" id="parents2" value="father">
                    <label for="parents2" >仅父亲有&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
                </div>
                <div class="radio-primary">
                    <input type="radio" name="parents" id="parents3" value="mother">
                    <label for="parents3">仅母亲有&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
                </div>
                <div class="radio-primary">
                    <input type="radio" name="parents" id="parents4" value="both">
                    <label for="parents4">父母亲都有&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <label >4.您的(外)祖父母是否被确诊高血压？</label>
            </div>
            <div class="panel-body">
                <div class="radio-primary">
                    <input type="radio" name="grandparents" id="grandparents1" value="none" checked="checked">
                    <label for="grandparents1">无&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
                </div>
                <div class="radio-primary">
                    <input type="radio" name="grandparents" id="grandparents2" value="one">
                    <label for="grandparents2">一名确诊&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
                </div>
                <div class="radio-primary">
                    <input type="radio" name="grandparents" id="grandparents3" value="many">
                    <label for="grandparents3">多名确诊&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <label >5.您的兄弟姐妹是否被确诊高血压？</label>
            </div>
            <div class="panel-body">
                <div class="radio-primary">
                    <input type="radio" name="brothers" id="brothers1" value="none" checked="checked">
                    <label for="brothers1">无&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
                </div>
                <div class="radio-primary">
                    <input type="radio" name="brothers" id="brothers2" value="one">
                    <label for="brothers2">一名确诊&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
                </div>
                <div class="radio-primary">
                    <input type="radio" name="brothers" id="brothers3" value="many">
                    <label for="brothers3">多名确诊&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-info btn-lg btn-block" onclick="submit()" style="border-radius: 20px">提交获取结果</button>
    <br>
    <br>
    <br>
    <br>
</div>
<div class="col-xs-1">

</div>
</body>
</html>


<!--        <hr>-->
<!--        <label style="font-weight: bolder">1.您的父母是否被确诊高血压？</label>-->
<!--        <div class="radio-primary">-->
<!--            <input type="radio" name="parents" id="parents1" value="none" checked="checked">-->
<!--            <label for="parents1">无</label>-->
<!--        </div>-->
<!--        <div class="radio-primary">-->
<!--            <input type="radio" name="parents" id="parents2" value="father">-->
<!--            <label for="parents2" >仅父亲有</label>-->
<!--        </div>-->
<!--        <div class="radio-primary">-->
<!--            <input type="radio" name="parents" id="parents3" value="mother">-->
<!--            <label for="parents3">仅母亲有</label>-->
<!--        </div>-->
<!--        <div class="radio-primary">-->
<!--            <input type="radio" name="parents" id="parents4" value="both">-->
<!--            <label for="parents4">父母亲都有</label>-->
<!--        </div>-->

<!--        <hr>-->
<!--        <label >2.您的(外)祖父母是否被确诊高血压？</label>-->
<!--        <div class="radio-primary">-->
<!--            <input type="radio" name="grandparents" id="grandparents1" value="none" checked="checked">-->
<!--            <label for="grandparents1">无</label>-->
<!--        </div>-->
<!--        <div class="radio-primary">-->
<!--            <input type="radio" name="grandparents" id="grandparents2" value="one">-->
<!--            <label for="grandparents2">一名确诊</label>-->
<!--        </div>-->
<!--        <div class="radio-primary">-->
<!--            <input type="radio" name="grandparents" id="grandparents3" value="many">-->
<!--            <label for="grandparents3">多名确诊</label>-->
<!--        </div>-->

<!--        <hr>-->
<!--        <label >3.您的兄弟姐妹是否被确诊高血压？</label>-->
<!--        <div class="radio-primary">-->
<!--            <input type="radio" name="brothers" id="brothers1" value="none" checked="checked">-->
<!--            <label for="brothers1">无</label>-->
<!--        </div>-->
<!--        <div class="radio-primary">-->
<!--            <input type="radio" name="brothers" id="brothers2" value="one">-->
<!--            <label for="brothers2">一名确诊</label>-->
<!--        </div>-->
<!--        <div class="radio-primary">-->
<!--            <input type="radio" name="brothers" id="brothers3" value="many">-->
<!--            <label for="brothers3">多名确诊</label>-->
<!--        </div>-->
<!--        <hr>-->